{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет proudcts -->
{% block title %}
Post
{% endblock title %}


<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все публикации:</h1>
    <h3>Сегодня: {{ time_now|date:'d M Y' }}</h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->
    <h3>Всего постов: {{ news|length }} </h3>

    {% if is_not_authors %}
    <button> <a href="/sign/upgrade/">  Стать автором </a> </button>
    {% endif %}

    {% if news %}
        <table>
            <tr>
                <td>
                    <h4>Заголовок</h4>
                </td>
                <td>
                    <h4>Дата публикации</h4>
                </td>
                <td>
                    <h4>Красткое содержание</h4>
                </td>
            </tr>
            <hr>

            {% for news_one in news %}  <!-- Для каждого товара будете генерироваться новая строчка, т. е. новый html-код. При этом сам цикл работает точно также,
                как и в Python. product — переменная цикла, т. е. наш товар, взятый из общего списка -->

                <tr>
                    <td>
                        <a class="nav-link" href="http://127.0.0.1:8000/news/{{ news_one.id }}">{{ news_one.heading |censor}}</a>
                    </td>
                    <td>
                        {{ news_one.data_create|date:'d M Y' }}
                    </td>
                    <td>
                        {{ news_one.text|truncatewords:20 |censor }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Публикаций нет</h2>

<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated  %}
<!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">Начало</a>
        <a href="?page={{page_obj.previous_page_number}}"><<<</a>
    {% endif %}

<!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Конец</a>
    {% endif %}
{% endif %}
    {% endif %}

<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated  %}
<!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">Начало</a>
        <a href="?page={{page_obj.previous_page_number}}"><<<</a>
    {% endif %}

<!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Конец</a>
    {% endif %}
{% endif %}

{% endblock content %}