<!DOCTYPE html>

<!--Локализация-->
{% load i18n %}


<html lang="ru">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        <!-- Favicon-->
        <!-- удалили фавикон-->

        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->

        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
<!--{% load cache %} кеширование-->
<!--        {% cache 300 nav %}-->
             <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
               <div class="container">
                   <a class="navbar-brand" href="#">OttepelNews</a>
                   <button class="navbar-toggler" type="button" data-toggle="collapse"
                           data-target="#navbarResponsive"
                           aria-controls="navbarResponsive" aria-expanded="false"
                           aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarResponsive">
                       <ul class="navbar-nav ml-auto">

                           <li class="nav-item">
                               <a class="nav-link" href="/news/">{% translate "Новости" %}</a>
                           </li>

                           <li class="nav-item">
                               <a class="nav-link" href="/news/search/">{% translate "Поиск" %}</a>
                           </li>

                           <li class="nav-item">
                               <a class="nav-link" href="/news/add/">{% translate "Добавить" %}</a>
                           </li>

                           <li class="nav-item">
                               <a class="nav-link" href="/member/">{% translate "Личный кабинет" %}</a>
                           </li>

                           <li class="nav-item">
                               {% if user.is_authenticated %}
                               <a class="nav-link" href="/accounts/logout/">Выйти</a>
                               {% else %}
                               <a class="nav-link" href="/accounts/login/">Войти</a>
                               {% endif %}

                           </li>

                           <li class="nav-item">
                               <a class="nav-link" href="/contact/">{% translate "Контакты" %}</a>
                           </li>
                           <li>
                                {% if is_not_authors %}
                                <button> <a href="/sign/upgrade/">{% translate  "Стать автором" %}</a> </button>
                                {% endif %}
                           </li>
                           <li>
                                <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
                                <!-- Не забываем по csrf_token для POST запросов -->
                                    <input type="hidden" name="next" value="{{ redirect_to }}">

                                    <select name="language" id="">
                                        {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
                                        {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

                                        {% for language in languages %}
                        <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                                {{ language.name_local }} - {{ language.code }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <input type="submit" value="set">
                                </form>
                           </li>

                       </ul>
                   </div>
               </div>
            </nav>
<!--        {% endcache %}-->
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {{ flatpage.content }}
                    {% endblock content %}
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->

        <!-- Core theme JS-->

    </body>
</html>